<div id="page-container">
  
  <header id="page-header">
    <section id="app-bar" class="attus-elevation-4 attus-primary-background">
      {{ page.app_bar }}
    </section>
    <section id="menu-bar" class="attus-elevation-8 attus-primary-background attus-mobile-fixed">
      {{ page.menu_bar }}
      <div id="footer-buttons-right"></div>
    </section>
  </header>
    
  <main id="page-content">
    <section id="content-header">
      {{ page.content_header }}
    </section>
    <section id="content">
      {{ page.content }}
    </section>
    <section id="content-footer">
      {{ page.content_footer }}
    </section>
  </main>
    
  <footer id="page-footer" class="attus-secondary-background">
    {{ page.footer }}
  </footer>
  
</div>